<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1><%=enquiry.name%> </h1>
    <h2>
    <ul>
        <li>email:<%=enquiry.email%>
        </li>
        <li>number:<%=enquiry.number%>
        </li>
        <li>enquiry:<%=enquiry.enquiry%>
        </li>
    </ul>
    </h2>
    <a href="/">Back to Homepage</a>
    <form action="/<%=enquiry._id%>?_method=DELETE" method="POST">
        <button>Delete</button>
    </form>
</body>
</html>